.entryImage {
  width: 100px;
  height: 100px;
}

.entryInfo {
  padding-top: 16px !important;
  font-size: 16px;
  font-weight: 600;
}

.col {
  height: 100px !important;
}

.rank {
    font-size: 33px;
    font-weight: 700;
    text-align: center !important;
    line-height: 75px !important;
}

.row {
  margin-bottom: 5px !important;
  max-width: 900px;
  height: 100px !important;
}

.row .col {
  height: 100px !important;
}

.entryUrlText {
  font-size: 16px;
}
